 /*background*/
body {
  background-image: url("wallpaper2.jpg");
  background-size: 1600px;
}

h1 {
    font-family: 'Sofia';font-size: 50px;
}

h2 {
    font-family: 'Sofia';font-size: 35px;
    text-align: center;
}

#products {
  padding-top: 100px;
}

.title{
  font-size: 30px;
  text-align: center;
  color: white;
}

/* paperdog and paper img*/
#flip {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}


#flip img {
  position:absolute;
  right:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#flip img.top:hover {
  opacity:0;
}
.top {
  width: 800px;
  padding-bottom: 20px;
}

.bottom {
  width: 800px;
  padding-bottom: : 20px;
}

/* menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

/* About us */

.About-us-Title {
margin-top: 200px;
  text-align: center;
  color: black;
}

.text {
  color: black;
 text-align: center;
 font-size:25px;

}

/* grid */



.grid {
  display: grid;
  padding: 80px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 50px;

}

.photo {
  width: 270px;
  height: 270px;
}


/* email */

input[type=text], select, textarea {
    width:30%;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: red;
    color: blue;
    padding: 12px 20px;
    border:  5px solid blue;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: white;
}


/* menu */
